
{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat quia eligendi laboriosam consectetur error est dolores accusantium impedit veritatis excepturi ipsa aut blanditiis ratione ut, similique animi optio! Dignissimos unde fugiat tenetur reprehenderit debitis magni. Recusandae rem iste nostrum eum iure iusto fugit maiores exercitationem reiciendis. Quo ad, odit excepturi alias incidunt saepe? Molestiae repudiandae consequuntur aut porro cupiditate vitae sunt voluptates quod quis iste impedit ipsa vel explicabo necessitatibus neque mollitia, odio aliquam aspernatur repellat sed? Dolor consequuntur laborum facilis ex hic quas dicta voluptatem commodi, quisquam aspernatur illo nihil libero impedit ea adipisci ullam fugit nostrum? Error, iusto!</p>

<p>Wbsite created by {{ username }}</p>

{% endblock %}